.game-screen {
    display: none;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 3fr 1fr;
    width: 100%;
    justify-self: center;
    align-items: center;
    justify-items: center;
}

.score-board {
    display: flex;
    justify-content: center;
    gap: 48px;
    font-size: 1.5rem;
}

.player1-score-wrapper,
.player2-score-wrapper {
    text-align: center;
    font-size: 1.5rem;
}

.player-score-title {
    padding-bottom: 20px;
}


.player1-score,
.player2-score {
    font-size: 3rem;
    text-align: center;
}

.player1-score-wrapper {
    grid-column: 1 / 2;
}

.player2-score-wrapper {
    grid-column: 3 / 4;
}

.game-board {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    width: min(90%, 400px);
    aspect-ratio: 1 / 1;
    box-shadow: -8px 0 0 0 black,
        8px 0 0 0 black,
        0 -8px 0 0 black,
        0 8px 0 0 black;
}

.cell {
    height: 33.33%;
    width: 33.33%;
    border: 6px solid black;
    display: grid;
    place-content: center;
    font-size: 4rem;
    user-select: none;
}

.cell:hover {
    background: rgb(202, 202, 202);
}

.game-result {
    font-size: 2rem;
    text-align: center;
    grid-column: 1 / -1;
    cursor: pointer;
    user-select: none;
}

@media(max-width: 1024px) {
    .game-screen {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .player1-score-wrapper {
        grid-column: 1 / 2;
    }

    .player2-score-wrapper {
        grid-column: 2 / 3;
    }

    .game-board {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
}